@font-face {
  font-family: 'Satoshi Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Regular"), url("../fonts/Satoshi-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Italic"), url("../fonts/Satoshi-Italic.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Light';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Light"), url("../fonts/Satoshi-Light.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Light Italic"), url("../fonts/Satoshi-LightItalic.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Medium"), url("../fonts/Satoshi-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Medium Italic"), url("../fonts/Satoshi-MediumItalic.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Bold"), url("../fonts/Satoshi-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Bold Italic"), url("../fonts/Satoshi-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Black';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Black"), url("../fonts/Satoshi-Black.woff") format("woff"); }
@font-face {
  font-family: 'Satoshi Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Satoshi Black Italic"), url("../fonts/Satoshi-BlackItalic.woff") format("woff"); }
@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }
@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }
@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }
body {
  background-color: #F2F2EC; }
  @media screen and (max-width: 1000px) {
    body {
      background-color: white; } }

.decor {
  background-image: url("../images/Vector.png");
  background-position: right 59px top 69px;
  background-repeat: no-repeat;
  padding-top: 110px;
  max-width: 1440px;
  margin: auto; }
  @media screen and (max-width: 1388px) {
    .decor {
      background-position: right 0px top 69px; } }
  @media screen and (max-width: 1000px) {
    .decor {
      background-image: none;
      padding-top: 0; } }

header .navbar {
  padding-top: 0; }
@media screen and (max-width: 1000px) {
  header .navbar-nav {
    flex-direction: row;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px; } }
header .nav-item {
  margin-left: 50px; }
@media screen and (max-width: 1000px) {
  header .nav-item {
    margin-left: 0; } }
  header .nav-item .nav-link {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Satoshi Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #484646; }
@media screen and (max-width: 1000px) {
  header .nav-item .nav-link {
    color: #FFFEFE;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em; } }
@media screen and (max-width: 1000px) {
  header .container {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0; } }
@media screen and (max-width: 1000px) {
  header .navbar-brand {
    margin-top: 30px; } }

.main_section {
  padding-top: 134px;
  padding-bottom: 224px; }
  @media screen and (max-width: 1000px) {
    .main_section {
      padding-top: 115px;
      padding-bottom: 186px; } }
  .main_section h1 {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 104px;
    line-height: 96px;
    text-align: center;
    color: black; }
    .main_section h1 span {
      color: #FF0000; }
  @media screen and (max-width: 1000px) {
    .main_section h1 {
      padding-top: 9px;
      font-size: 60px;
      line-height: 90%; } }

.about {
  padding-bottom: 160px; }
  @media screen and (max-width: 1000px) {
    .about {
      padding-bottom: 80px; } }
  .about h4 {
    padding-top: 20px;
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 90%;
    /* or 16px */
    letter-spacing: 0.02em;
    /* emblaze black */
    color: #050505;
    margin-bottom: 20px; }
  .about h2 {
    font-family: 'ClashDisplay-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 63px;
    letter-spacing: 0.02em;
    color: #050505; }
    .about h2 span {
      color: red; }
  @media screen and (max-width: 1000px) {
    .about h2 {
      font-size: 60px;
      line-height: 96%;
      margin-bottom: 20px; } }
  .about p {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    letter-spacing: 0.02em;
    color: #050505;
    margin-bottom: 30px; }
  .about a {
    display: inline-block;
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 20px 40px;
    background-color: #FF0000;
    border-radius: 6px;
    text-decoration: none; }

@media (min-width: 1400px) {
  .container {
    max-width: 1240px; } }
.slider {
  margin-bottom: 130px; }
  @media screen and (max-width: 1000px) {
    .slider {
      padding-left: 10px;
      margin-bottom: 100px; } }
  .slider article {
    text-align: center; }
    .slider article h4 {
      padding-top: 10px;
      font-family: 'Satoshi Bold';
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #050505;
      margin-bottom: 10px; }
    .slider article p {
      font-family: 'Satoshi Medium';
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #636363; }

.operators {
  padding-bottom: 150px; }
  @media screen and (max-width: 1000px) {
    .operators {
      padding-bottom: 0; } }
  .operators h4 {
    font-family: 'ClashDisplay-Semibold';
    font-weight: 600;
    font-size: 66px;
    line-height: 96%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 10px; }
  @media screen and (max-width: 1000px) {
    .operators h4 {
      font-size: 60px;
      line-height: 96%; } }
  .operators p {
    font-family: 'Satoshi Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 96%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #050505;
    margin-bottom: 50px; }
  @media screen and (max-width: 1000px) {
    .operators p {
      margin-bottom: 30px; } }
  .operators .ttext {
    text-align: center; }
    .operators .ttext p {
      font-family: 'Satoshi Regular';
      font-weight: 400;
      font-size: 24px;
      text-transform: none;
      line-height: 120%;
      leading-trim: both;
      text-edge: cap;
      text-align: center;
      color: #050505;
      margin-bottom: 70px; }
      .operators .ttext p span {
        font-family: 'Satoshi Bold';
        font-weight: 700; }
  @media screen and (max-width: 1000px) {
    .operators .ttext p {
      font-size: 32px;
      line-height: 120%; } }
  .operators article {
    background: #FFFEFE;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    padding: 50px;
    box-sizing: border-box;
    min-height: 450px;
    margin-bottom: 40px; }
  @media screen and (max-width: 1000px) {
    .operators article {
      padding: 30px 10px;
      margin-bottom: 20px;
      min-height: auto; } }
    .operators article h3 {
      font-family: 'Satoshi Bold';
      font-weight: 700;
      font-size: 44px;
      line-height: 126%;
      leading-trim: both;
      text-edge: cap;
      letter-spacing: 0.02em;
      color: #050505;
      padding-top: 30px;
      margin-bottom: 30px; }
    .operators article p {
      font-family: 'Satoshi Medium';
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      leading-trim: both;
      text-edge: cap;
      letter-spacing: 0.02em;
      color: #636363;
      margin-bottom: 0;
      text-transform: none;
      text-align: left; }
  .operators a {
    display: inline-block;
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 20px 40px;
    background-color: #FF0000;
    border-radius: 6px;
    text-decoration: none; }
  @media screen and (max-width: 1000px) {
    .operators a {
      margin-bottom: 50px; } }

.brands {
  padding-bottom: 100px; }
  @media screen and (max-width: 1000px) {
    .brands {
      background-color: #F2F2EC;
      padding-top: 40px;
      padding-bottom: 40px; } }
  .brands h4 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.02em;
    color: #050505;
    margin-bottom: 60px; }
  .brands h3 {
    font-family: 'Satoshi Medium';
    font-weight: 500;
    font-size: 46px;
    line-height: 126%;
    color: #696767;
    margin-bottom: 60px; }
    .brands h3 span {
      color: black; }
  .brands .icons {
    background-color: white; }
  @media screen and (max-width: 767px) {
    .brands .icons {
      width: 185px; }
      .brands .icons img {
        width: 100%; } }

.design {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .design {
      padding-bottom: 80px; } }
  .design h2 {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #050505;
    margin-bottom: 20px; }
  @media screen and (max-width: 1000px) {
    .design h2 {
      font-size: 30px;
      line-height: 100%; } }
    .design h2 span {
      color: #FF0000; }
  .design p {
    margin-bottom: 30px;
    font-family: 'Satoshi Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #050505; }
  .design article {
    background: #F2F2EC;
    border-radius: 20px;
    padding: 70px 0;
    text-align: center; }
  @media screen and (max-width: 1000px) {
    .design article {
      padding: 30px; } }
    .design article p {
      padding-top: 30px;
      font-family: 'Satoshi Medium';
      font-weight: 500;
      font-size: 32px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #050505;
      max-width: 920px;
      margin: auto; }
  @media screen and (max-width: 1000px) {
    .design article p {
      font-size: 24px;
      line-height: 150%; } }
    .design article h6 {
      font-family: 'Satoshi Medium';
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #050505;
      padding-top: 30px; }

.services {
  background-color: #000000;
  padding: 100px 0; }
  @media screen and (max-width: 1000px) {
    .services {
      padding: 40px 15px 50px; } }
  .services h4 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 90%;
    letter-spacing: 0.02em;
    color: #FFFEFE;
    margin-bottom: 60px; }
  @media screen and (max-width: 1000px) {
    .services h4 {
      margin-bottom: 50px; } }
  .services h3 {
    font-family: 'Satoshi Medium';
    font-weight: 500;
    font-size: 46px;
    line-height: 126%;
    color: #9E9E9E;
    margin-bottom: 0px; }
  @media screen and (max-width: 1000px) {
    .services h3 {
      margin-bottom: 0px;
      font-size: 32px;
      line-height: 126%; } }
    .services h3 span {
      color: #FFFEFE; }
  .services hr {
    border-top: 1px solid #4D4D4D;
    background-color: transparent;
    margin-bottom: 50px;
    opacity: 1;
    margin-top: 60px; }
  @media screen and (max-width: 1000px) {
    .services hr {
      margin-top: 50px; } }
  .services h5 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .services h4 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFEFE;
    margin-bottom: 40px; }
  @media screen and (max-width: 1000px) {
    .services h4 {
      margin-bottom: 20px; } }
  .services ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
  @media screen and (max-width: 1000px) {
    .services ul {
      margin-bottom: 20px; } }
    .services ul.m-40 {
      margin-bottom: 40px; }
  @media screen and (max-width: 1000px) {
    .services ul.m-40 {
      margin-bottom: 20px; } }
    .services ul li {
      font-family: 'Satoshi Bold';
      font-weight: 700;
      font-size: 14px;
      line-height: 180%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #9E9E9E; }

.galery {
  background-color: #FFFEFE;
  padding: 80px 0; }
  .galery .container_my {
    margin: auto; }
    .galery .container_my img {
      width: 100%;
      display: block; }

footer {
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 70px; }
  @media screen and (max-width: 1000px) {
    footer {
      padding-top: 120px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px; } }
  footer h2 {
    font-family: 'ClashDisplay-Medium';
    font-weight: 500;
    font-size: 64px;
    line-height: 96%;
    letter-spacing: 0.02em;
    color: #FFFEFE;
    margin-bottom: 50px; }
    footer h2 span {
      color: #FF0000; }
  @media screen and (max-width: 1000px) {
    footer h2 {
      font-size: 60px;
      line-height: 96%; } }
  footer h4 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 12px;
    line-height: 96%;
    letter-spacing: 0.02em;
    color: #FFFEFE;
    margin-bottom: 20px; }
  footer h5 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFEFE;
    margin-bottom: 50px; }
  footer h6 {
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 19px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFEFE; }
  @media screen and (max-width: 1000px) {
    footer h6 {
      margin-bottom: 60px; } }
  footer article {
    background: #121212;
    border-radius: 20px;
    padding: 40px; }
  @media screen and (max-width: 1000px) {
    footer article {
      padding: 20px; } }
    footer article h3 {
      font-family: 'Satoshi Bold';
      font-weight: 700;
      font-size: 24px;
      line-height: 96%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin-bottom: 25px; }
  footer .form-text {
    color: #FF0000;
    font-family: 'Satoshi Medium';
    font-weight: 500; }
  footer .form-group {
    margin-bottom: 25px; }
    footer .form-group textarea {
      resize: none;
      height: 114px; }
    footer .form-group .form-control {
      background: #050505;
      border-radius: 5px;
      border: none;
      padding: 20px;
      box-sizing: border-box;
      font-family: 'Satoshi Medium';
      font-weight: 500;
      font-size: 14px;
      line-height: 96%;
      letter-spacing: 0.02em;
      color: #FFF;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      footer .form-group .form-control:focus {
        outline: none;
        box-shadow: none;
        border: none; }
      footer .form-group .form-control::-webkit-input-placeholder {
        color: #9E9E9E;
        opacity: 1; }
      footer .form-group .form-control::-moz-placeholder {
        color: #9E9E9E;
        opacity: 1; }
      footer .form-group .form-control:-moz-placeholder {
        color: #9E9E9E;
        opacity: 1; }
      footer .form-group .form-control:-ms-input-placeholder {
        color: #9E9E9E;
        opacity: 1; }
  footer .btn.btn-primary {
    background: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 6px;
    width: 100%;
    display: block;
    padding: 20px 0;
    text-align: center;
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF; }
  footer .copyright {
    padding-top: 40px;
    font-family: 'Satoshi Bold';
    font-weight: 700;
    font-size: 11px;
    line-height: 90%;
    letter-spacing: 0.12em;
    color: #9E9E9E;
    text-align: center; }
  @media screen and (max-width: 1000px) {
    footer .copyright {
      line-height: 110%; } }
